{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <h1>Subscribe to our Newsletter</h1>
  
  {% if messages %}
    <div class="alert alert-success">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Subscribe</button>
  </form>
{% endblock %}
